.container {
  text-align: center;
  margin: 0 auto;
}

header {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1512px;
  height: 800px;
  gap: 0px;
  opacity: 0px;
  margin: 0 auto;
}

h5 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  padding-top: 60px;
  letter-spacing: 5px;
}

h1 {
  font-family: Playfair Display;
  font-size: 128px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  color: white;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-top: 70px;
  padding-bottom: 15px;
}

.learn-link {
  text-align: center;
  margin: 0, auto;
  display: block;
  color: black;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header a {
  text-align: center;
  margin: 0 auto;
  border-radius: 15px;
  padding: 13px 18px;
  text-align: center;
  background: white;
  letter-spacing: 3px;
  width: 100px;
  opacity: 0.6;
  margin-top: 32px;
}

.coded-by {
  font-family: monospace;
  font-size: 15px;

  color: white;
}

a {
  text-decoration: none;
}

.coded-by a {
  color: gray;
}

.coded-by a:hover {
  color: white;
}

footer {
  background-image: url(../img/background-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(75);
  width: 1512px;
  height: 334px;
  margin: 0 auto;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: gray;
}

.grid {
  display: grid;
  grid-template-columns: 1fr, 2fr, 2fr;
  grid-gap: 10px;
}

h4 {
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 700;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

footer li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer ul {
  padding: 0;
}

footer section {
  margin: 0 auto;
  padding-left: 30px;
}

@media (max-width: 1200px) {
  header {
    padding: 60px 0px;
    width: auto;
    height: auto;
  }

  header h1 {
    font-size: 64px;
  }

  header h3 {
    font-size: 20px;
  }

  header h5 {
    font-size: 12px;
  }

  header a {
    margin-top: 20px;
  }

  .coded-by {
    font-size: 10px;
  }

  footer {
    padding: 60px 0px;
    width: auto;
    height: auto;
  }
}
